img {
    border-radius: 10px; /* Pone el borde circular la imagen */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
img {
    border: none; /* Elimina cualquier borde */
    display: block; /* Elimina el espacio debajo de la imagen */
    
}
