
.footer{
    background-color: #24262B;
    padding: 80px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display:inline-block ;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}
.footer {
    background-color: #24262B;
    padding: 80px;
    text-align: center; /* Centra el contenido del pie de página */
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las filas dentro del pie de página */
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
}
.footer-links ul {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-links ul li {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

/* Estilos adicionales */
.footer-links ul li a {
    font-size: 18px;
    color: #BBBBBB; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Display en bloque */
    margin-bottom: 15px; /* Margen inferior */
    transition: all 0.3s ease; /* Transición suave */
}

.footer-links ul li a:hover {
    color: #FFFFFF; /* Color del texto al pasar el ratón */
}

.social-link a:hover {
    background-color: #00C3FF; /* Color de fondo al pasar el ratón */
}

@media (max-width: 991px) {
    .footer-row {
        text-align: center; /* Alineación del texto */
    }
    .footer-links {
        width: 100%; /* Ancho completo */
        margin-bottom: 30px; /* Margen inferior */
    }
}


.footer {
    animation: fadeIn 2s; /* Agrega una animación de fade-in que dura 2 segundos */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; /* Inicialmente, el footer es invisible */
    }
    100% {
      opacity: 1; /* Al final, el footer es visible */
    }
  }