// layout/_grid.scss


//index
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Agrega un espacio entre las imágenes */
}

.grid img {
    width: 30%; /* Reduce el ancho de cada imagen para que quepan en la misma fila */
    margin: 30px; /* Agrega un poco de espacio entre las imágenes */
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Media queries para la grilla */
@media (max-width: 768px) {
    .grid img {
        width: 45%; /* Ajusta el ancho de las imágenes */
        margin: 20px; /* Ajusta el margen entre las imágenes */
    }
}

@media (max-width: 480px) {
    .grid img {
        width: 100%; /* Ajusta el ancho de las imágenes */
        margin: 10px; /* Ajusta el margen entre las imágenes */
    }
}
